@model Assignment

@{
    ViewData["Title"] = "Assignment - Delete";
}

<h2>Assignment - Delete</h2>

<br />

<p>Are you sure you want to delete this?</p>

<hr />

<table>
    <tr><th>Assignment</th></tr>
    <tr><td>@Model.Title</td></tr>
</table>

<hr />

<form asp-action="Delete">
    <input type="submit" value="Delete" class="btn btn-sm btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>
