body {
    line-height: 150%;
    font-family: sans-serif;
    background-color: black;
    color: white;
    margin: 0;
}

/*Header*/
header {
    background-color: black;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

header > img {
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}

header > h1 {
    float: left;
    padding-right: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}

/*Navigate*/
nav > ul > li {
    float: left;
    padding: 10px;
    list-style-type: none;
    background-color: black;
}

    nav > ul > li > a {
        color: white;
        text-decoration: underline;
    }

a {
    color: white;
    text-decoration: none;
}

/*Body*/
#body {
    background-color: darkslategray;
    padding-top: 20px;
    padding-bottom: 30px;
}

#bodyArea {
    max-width: 960px;
    margin: auto;
}

/*Footer*/
footer {
    padding-left: 20px;
    background-color: black;
    margin-top: 25px;
    font-size: 14px;
}

td {
    padding: 5px 5px;
}
