@{
    ViewData["Title"] = "About";
}

<h2>About</h2>

<hr />
<br />

<h4>Assignment: MVC Database</h4>

<p>
    This is an MVC application, that connects to a database through Entity Framework. The application in this case is a school app – tracking teachers, students and courses, as well as assignments.
</p>