@model Course
@{
    ViewData["Title"] = "Remove Teacher from Course";
}

<h2>Remove Teacher form Course</h2>

<br />
<p>Are you sure you want to remove this?</p>
<hr />
<table>
    <tr>
        <th>Teacher</th>
    </tr>
    <tr>
        <td>@Model.Teacher.FullName</td>
    </tr>
    <tr>
        <th>Course</th>
    </tr>
    <tr>
        <td>@Model.Title</td>
    </tr>
</table>

<hr />
<form asp-action="DeleteTeacherCourse">
    <input type="submit" value="Remove" class="btn btn-sm btn-danger" /> |
    <a asp-action="Select" asp-route-id="@Model.ID">Back to List</a>
</form>
